In [ ]:
## Q1.
> 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

- 과목	점수
- 국어	80
- 영어	75
- 수학	55

In [2]:
국어 = 80
영어 = 75
수학 = 55

average = (국어 + 영어 + 수학)/3
print(average)

# 2번째 방법
dic = {'국어':80,'영어':75,'수학':55}
gradeAverage = round((dic['국어']+dic['영어']+dic['수학'])/3)
print(format(gradeAverage))

70.0
70

In [3]:
##Q2.
#자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

#판별 기준
#코드

In [4]:
"""
1. 판별 기준
 홀수는 어떤 수를 2로 나눌따 나머지가 나오는 것, 짝수는 어떤 수를 2로 나눌때 나머지가 없는 것을 말한다.
 그러면 13을 판별하기 위해 if문을 사용하여 13을 2로 나누었을 때, 나머지가 나오는지 안나오는지 판별을 통해 구하면 된다.
 """

num = 13
if num % 2 ==0:
    print("13은 짝수입니다.")
else:
    print("13은 홀수입니다.")

13은 홀수입니다.

In [5]:
##Q3.
#홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

#문자열 슬라이싱 기법을 사용해 보자.

In [6]:
Resident_registration_number = ("881120-1068234")
First = Resident_registration_number[0:6]
Second = Resident_registration_number[7:]
print("홍길동씨의 주민등록번호 앞자리는 {} 입니다.". format(First))
print("홍길동씨의 주민등록번호 뒷자리는 {} 입니다.". format(Second))

홍길동씨의 주민등록번호 앞자리는 881120 입니다.
홍길동씨의 주민등록번호 뒷자리는 1068234 입니다.

In [7]:
##Q4.
#주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

#pin = "881120-1068234"
#※ 문자열 인덱싱 또는 내장함수를 사용해 보자.
#문자열포맷팅을 이용해서 성별을 출력하시오.

In [8]:
pin = "881120-1068234"
sex = int(pin[7:8])
if sex == 1:
    print("남자입니다.")
else:
    print("여자입니다.")

남자입니다.

In [9]:
##Q5.
#다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

#a = "a:b:c:d"

In [10]:
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

In [11]:
##Q6.
#[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

#※ 리스트의 내장 함수를 사용해 보자.

In [12]:
a = [1, 3 ,5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [13]:
##Q7.
#['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

#※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [14]:
a = ['Life', 'is', 'too', 'short']
" ".join(a)

'Life is too short'

In [15]:
##Q8.
#(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

#※ 더하기(+) 또는 다른 방법들을 사용해 보자.

In [16]:
# 1번째 방법
t1 = (1,2,3)
t2 = (4,)
print(t1 + t2)

# 2번째 방법
t1 = (1,2,3)
t2 = list(t1)
t2.insert(3,4)
t1 = tuple(t2)
print(t1)

(1, 2, 3, 4)
(1, 2, 3, 4)

In [17]:
##Q9.
#다음과 같은 딕셔너리 a가 있다.

#a = dict()
#a
#{}

#다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.
#1a['name'] = 'python'
#2a[('a',)] = 'python'
#3a[[1]] = 'python'
#4a[250] = 'python'

In [18]:
print("이유: 딕셔너리의 key값은 변하지 않는 값을 지정해야한다. 그러나 3번의 a[[1]]의 key값은 변하는 값이므로 사용할 수 없다. 3번을 사용하기 위해서는 리스트를 튜플로 변환시키면 된다.")

이유: 딕셔너리의 key값은 변하지 않는 값을 지정해야한다. 그러나 3번의 a[[1]]의 key값은 변하는 값이므로 사용할 수 없다. 3번을 사용하기 위해서는 리스트를 튜플로 변환시키면 된다.

In [19]:
##Q10.
#딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

#a = {'A':90, 'B':80, 'C':70}
#※ 딕셔너리의 pop 함수를 사용해 보자.

In [20]:

a = {'A':90, 'B':80, 'C':70}
print(a.pop('B'))
a

80

{'A': 90, 'C': 70}

In [21]:
##Q11.
#a 리스트에서 중복 숫자를 제거해 보자.

#a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

#※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [22]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a1 = set(a)
a2 = list(a1)
a2

[1, 2, 3, 4, 5]

In [23]:
##Q12.
#파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

#a = b = [1, 2, 3]
#a[1] = 4
#print(b)

In [24]:
a = b = [1, 2, 3]
a[1] = 4
print(b)


# a[1]을 4라고 선언했기 때문에 [1,2,3]에서 2가 4로 바뀌면서 [1,4,3]이 된다.

print("------------------------------------")
print(format(id(a))) # a의 주소
print(format(id(b))) # b의 주소
print(a)
print(b)

# a와 b는 주소가 같은 곳에 위치한다. 그리고, 서로 같은 값을 가지고 있는것을 확인할 수 있다. 즉 a=b이다. a가 바뀌면 b도 바뀌게 된다.

[1, 4, 3]
------------------------------------
140027223038784
140027223038784
[1, 4, 3]
[1, 4, 3]